:root {
   --lime-green: hsl(163, 72%, 41%);
   --bright-red: hsl(356, 69%, 56%);

   --facebook: hsl(208, 92%, 53%);
   --twitter: hsl(203, 89%, 53%);
   --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
   --youTube: hsl(348, 97%, 39%);

   /* dark theme */
   --very-dark-blue: hsl(230, 17%, 14%);
   --very-dark-blue-top: hsl(232, 19%, 15%);
   --dark-desaturated-blue: hsl(228, 28%, 20%);
   --desaturated-blue: hsl(228, 34%, 66%);

   /* white theme */
   --white: hsl(0, 0%, 100%);
   --very-pale-blue: hsl(225, 100%, 98%);
   --light-grayish-blue: hsl(227, 47%, 96%);
   --dark-grayish-blue: hsl(228, 12%, 44%);
   --very-dark-blue: hsl(230, 17%, 14%);

   --toggle: linear-gradient(to left, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
   --toggle-background: hsl(230, 22%, 74%);
}

/* Reset */
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

figure {
   margin: 0;
   padding: 0;
}

figcaption {
   padding: 0;
}

figcaption {
   position: relative;
   z-index: 10;
}

body {
   margin: 0;
}

/* Tipografy */
html {
   font-size: 14px;
   font-family: 'Inter', sans-serif;
   box-sizing: content-box;
}

/* Content */
.body {
   width: 100%;
   background-color: var(--white);
}

.body-dark {
   background-color: var(--very-dark-blue);
}

.background {
   background-color: var(--very-pale-blue);
   border-radius: 0rem 0rem 1.6rem 1.6rem;
   height: 234px;
   width: 375px;
   position: absolute;
   z-index: -1;
}

.background-dark {
   background-color: var(--very-dark-blue-top);
}

.container {
   width: 375px;
   height: 2387px;
   margin: auto;
}

.title,
.subtitle,
.overview,
.option-style-board {
   width: 326px;
   margin: auto;
}

.overview {
   margin-top: 3.78rem;
   margin-bottom: 2rem;
   color: var(--dark-grayish-blue);
}

.overview-dark {
   color: var(--white);
}

.option-style-board {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1.6rem;
   margin-bottom: 3.2rem;
}

/* .switch {
   position: relative;
   display: inline-block;
   width: 49px;
   height: 24px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: var(--toggle);
   -webkit-transition: .4s;
   transition: .4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 17px;
   width: 17px;
   left: 4px;
   bottom: 4px;
   background-color: var(--dark-desaturated-blue);
   -webkit-transition: .4s;
   transition: .4s;
}

input:checked+.slider {
   background-color: #ccc;
   background-image: none;
}

input:checked+.slider:before {
   -webkit-transform: translateX(24px);
   -ms-transform: translateX(24px);
   transform: translateX(24px);
   background-color: white;
} */

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

.title {
   padding-top: 2.85rem;
   font-size: 1.7rem;
   color: var(--very-dark-blue);
}

.title-dark {
   color: var(--white);
}

.text-option-mode,
.subtitle {
   font-size: 1.0rem;
   font-weight: 700;
   color: var(--dark-grayish-blue);
}

.text-option-mode-dark,
.subtitle-dark {
   color: var(--desaturated-blue);
}

.subtitle {
   margin-top: .8rem;
   padding-bottom: 1.85rem;
   border-bottom: 1px solid var(--dark-desaturated-blue);
}

.target {
   display: block;
   width: 326px;
   height: 216px;
   margin: auto;
   border-radius: 5px;
   margin-bottom: 2rem;
   background-color: var(--light-grayish-blue);
}

.target-dark {
   background-color: var(--dark-desaturated-blue);
}

.min-target {
   margin: auto;
   border-radius: 5px;
   width: 326px;
   height: 125px;
   margin-bottom: 1rem;
   background-color: var(--light-grayish-blue);
}

.min-target-dark {
   background-color: var(--dark-desaturated-blue);
}

.container-grid {
   display: grid;
   height: 100%;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
}

.grid-item-left {
   margin-left: 1.8rem;
   justify-self: left;
   align-self: center;
}

.grid-item-rigth {
   margin-right: 1.8rem;
   justify-self: right;
   align-self: center;
}

.user {
   font-weight: 700;
   font-size: .8;
}

.facebook {
   border-top: 5px solid var(--facebook);
}

.twiter {
   border-top: 5px solid var(--twitter);
}

.instagram {
   border-top: 5px solid;
   border-image-source: var(--instagram);
   border-image-slice: 1;
}

.youtube {
   border-top: 5px solid var(--youTube);
}

li {
   text-align: center;
}

.user {
   color: var(--dark-grayish-blue);
}

.user-dark {
   color: var(--desaturated-blue);
}

.total {
   font-size: 3.08rem;
   font-weight: 700;
   margin-bottom: .8rem;
   color: var(--very-dark-blue);
}

.total-dark {
   color: var(--white);
}

.type {
   letter-spacing: .2rem;
   text-transform: uppercase;
   margin-bottom: 2rem;
   color: var(--dark-grayish-blue);
}

.type-dark {
   color: var(--desaturated-blue);
}

li:nth-child(5) {
   color: var(--white);
   font-weight: 700;
}

.group-user {
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.resume,
.group-user {
   display: flex;
   justify-content: center;
   align-items: center;
}

.green,
.red {
   font-weight: 700;
}

.green {
   color: var(--lime-green);
}

.red {
   color: var(--bright-red);
}

.dasboard-two-total {
   font-size: 1.5rem;
   font-weight: 700;
   color: var(--very-dark-blue);
}

.dasboard-two-total-dark {
   color: var(--white);
}

.dasboard-two-type {
   font-size: .9rem;
   font-weight: 700;
   color: var(--dark-grayish-blue);
}

.dasboard-two-total {
   color: var(--desaturated-blue);
}

.attribution {
   color: white;
}

.link {
   display: inline-block;
   padding: .3rem;
   background-color: var(--light-grayish-blue)
}

.link:link,
.link:visited {
   text-decoration: none;
}

.link:hover,
.link:active {
   text-decoration: underline;
}

.link:link {
   color: white;
   border-radius: 5px;
}

.link:visited {
   color: white;
}

.link:hover {
   background: coral;
   color: white;
   border-radius: 5px;
}

.link:active {
   transform: scale(.9);
}

@media only screen and (min-width:600px) {
   .container {
      width: 1119px;
      height: 800px;
      margin: auto;
   }

   .background {
      width: 100vw;
      height: 245px;
      left: 0;
   }

   .title,
   .overview {
      width: 100%;
   }

   .overview {
      margin-top: 50px;
   }

   .target {
      display: inline-block;
      width: 255px;
      height: 217px;
      margin-right: 29px;
      margin-bottom: 0;
   }

   .target:last-child {
      margin: 0;
   }

   .min-target {
      width: 254px;
   }

   .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 60px;
   }

   .subtitle,
   .option-style-board {
      margin: 0;
      padding: 0;
   }

   .subtitle {
      border: none;
   }

   .attribution {
      text-align: center;
   }

   .option-style-board {
      width: 140px;
   }

   .dasboard-two {
      display: grid;
      grid-template-columns: repeat(4, 257px);
      grid-template-rows: 125px;
      column-gap: 28px;
      row-gap: 24px;
   }
}