:root {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);

  --Very-Dark-Blue: hsl(230, 17%, 14%);
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --Desaturated-Blue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  padding: 0;
}

body {
  width: 100%;
  background-color: var(--Very-Dark-Blue);
}

.container {
  width: 375px;
  height: 2387px;
  margin: auto;
}

.title {
  color: var(--White);
}

span,
.subtitle {
  color: var(--Desaturated-Blue);
  font-weight: 700;
}

.target {
  display: block;
  width: 326px;
  height: 216px;
  margin: auto;
  border-radius: 5px;
  background-color: var(--Dark-Desaturated-Blue);
  margin-bottom: 2rem;
}

.user {
  font-weight: 700;
  font-size: .8;
}

.facebook {
  border-top: 5px solid var(--Facebook);
}

.twiter {
  border-top: 5px solid var(--Twitter);
}

.instagram {
  border-top: 5px solid;
  border-image-source: var(--Instagram);
  border-image-slice: 1;
}

.youtube {
  border-top: 5px solid var(--YouTube);
}

li {
  text-align: center;
}

li:nth-child(2) {
  color: var(--Desaturated-Blue);
  margin-bottom: 2rem;
}

li:nth-child(3) {
  color: var(--White);
  font-size: 3.08rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.type {
  color: var(--Desaturated-Blue);
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

li:nth-child(5) {
  color: var(--White);
  font-weight: 700;
}

.resume {
  display: flex;
  justify-content: center;
  align-items: center;

}

.green {
  color: green;
}

.red {
  color: red
}

.attribution {
  color: white;
}

.link {
  display: inline-block;
  padding: .3rem;
  background-color: var(--Light-Grayish-Blue)
}

.link:link,
.link:visited {
  text-decoration: none;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.link:link {
  color: white;
  border-radius: 5px;
}

.link:visited {
  color: white;
}

.link:hover {
  background: coral;
  color: white;
  border-radius: 5px;
}

.link:active {
  transform: scale(.9);
}